<% if (invoices.find(invoice => invoice.unpaid)) { %>
	<div class="alert alert-danger" role="alert">
		We couldn't bill your card for the latest period. Please <b>update your card now</b> to keep your subscription active and your account from being deleted.<br>If you need assistance, please contact us.
	</div>
<% } %>

<% if (subscriptions.length) { %>

	<% if (user.stripe.canceled) { %>
		
		<div class="alert alert-warning" role="alert">
			Your subscription will be canceled at the end of the billing period on <b><%= subscriptions[0].currentPeriodEnd %></b>. <a href="/billing/resumesubscription">Click here</a> to resume it before it's too late.
		</div>

	<% } else { %>

		<% for (let sub of subscriptions.filter(sub => sub.plan)) { %>

			<p>Your <b><%= options.plans.find(p => p.stripeId === sub.plan.id) ? options.plans.find(p => p.stripeId === sub.plan.id).name : '' %></b> plan is set to <b><%= sub.plan.amount %> per <%= sub.plan.interval_count !== 1 ? sub.plan.interval_count : '' %> <%= sub.plan.interval %></b> and will <%= sub.status === 'trialing' ? 'start' : 'renew' %> <b><%= sub.currentPeriodEnd %></b>.</p>

			<p><small><%= sub.discountDescription ? 'Applied coupon ' + sub.discountDescription : '' %></small></p>

		<% } %>

	<% } %>

	<% if (options.upgradable && options.plans.find(p => p.order > options.plans.find(a => a.id === user.plan).order) ) { %>
		<button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#upgradeModal">Upgrade your plan 🚀</button>
		<br>
	<% } %>

	
<% } else if (options.upgradable) { %>
	<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#upgradeModal">Upgrade your plan 🚀</button>
	<br>
<% } %>

<br>


<% if (sources.length) { %> 
	<p><b>Payment method</b></p>
	
	<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#cardModal">Add a new card</button>

	<ul class="list-group py-3 mb-1">
		<% for (let source of sources) { %>
			<li class="list-group-item d-flex justify-content-between align-items-center">

				<span><img class='mr-2' src='https://rawcdn.githack.com/FreshVine/Payment-Methods-SVG/c441556f81b9a9950ab03d0d96b27fb1493ce22a/icons/cards/<%= source.card.brand %>.svg' width=30/>  <b>···· ···· ····</b> <%= source.card.last4 %> <span class="badge badge-warning">exp <%= source.card.exp_year %></span></span>
				
				<% if (source.isDefault) { %>
					<span class="badge badge-primary">selected</span>
				<% } else { %>
					<div>
						<a href='#' class="btn-primary btn btn-sm small">select</a>
						<a href='#' class="btn-danger btn btn-sm small">remove</a>
					</div>
				<% } %>

			</li>
		<% } %>
	</ul>

<% } else { %>
	<p>No cards on record. <a href='javascript:' data-toggle="modal" data-target="#cardModal">Click to add a card</a>.</p>
<% } %>

<% if (invoices.length) { %> 
	<p><b>Billing history</b></p>

	<ul class="list-group py-3">				
		<% for (let invoice of invoices) { %>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<% if (invoice.status === 'draft') { %>
					<div class='m-0'>
						Draft invoice for <b><%= invoice.amount %></b>
						<span class="badge badge-secondary">upcoming</span>
						<br>
						<% for (let line of invoice.lines.data.filter(l => l.amount > 0)) { %>
							<p><small><%= line.description %></small></p>
						<% } %>
						<br>
						<p><small><%= invoice.cleanPeriodStart %> → <%= invoice.cleanPeriodEnd %></small></p>
					</div>
				<% } else { %>
					<p class='m-0'>
						Invoice for <b><%= invoice.amount %></b>
						<span class="badge badge-<%= invoice.status === 'paid' ? 'success' : ( invoice.unpaid ? 'danger' : 'warning') %>"><%= invoice.unpaid ? 'payment failed, please update card' : invoice.status %></span>
						<br>
						<small><%= invoice.cleanPeriodStart %> → <%= invoice.cleanPeriodEnd %></small>
					</p>
				<% } %>

				<% if (invoice.invoice_pdf) { %>
					<a target='_blank' href='<%= invoice.invoice_pdf %>'>↓ Download</a>
				<% } %>
			</li>
		<% } %>
	</ul>
<% } %>

<% if (options.allowCancel && subscriptions.length && !user.stripe.canceled) { %>

<p class="mt-3"><small><a class='text-danger' href='javascript:' data-toggle="modal" data-target="#cancelModal">Cancel your subscription</a></small></p>

<!-- Cancel Modal -->
<div class="modal fade" id="cancelModal" tabindex="-2" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				
				<h5 class="modal-title">Are you sure?</h5>
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>

			<div class="modal-body">
				<div class="container-fluid">
					<h5>We'd be very sad to see you go :(</h5>
					<br>
					<p>If you decide to continue, your subscription will be canceled at the end of your current billing period at which point all privileged features will be disabled.</p>
					<br>
				</div>
			</div>

			<div class="modal-footer">
				<a class='mr-3' href='javascript:' data-dismiss="modal" aria-label="Close">Go back</a>
				<a href="/billing/cancelsubscription" class="btn btn-warning">
					<span style='display:none' class="spinner-border spinner-border-sm"></span>
					<span>Cancel my subscription</span>
				</a>
			</div>
		</div>
	</div>
</div>

<% } %>

<style>

	.card-pricing.popular {
		z-index: 1;
		border: 3px solid #007bff;
	}
	.card-pricing .list-unstyled li {
		padding: .5rem 0;
		color: #6c757d;
	}
</style>

<!-- Card Modal -->
<div class="modal fade" id="cardModal" tabindex="-2" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				
				<h5 class="modal-title">Add a new card</h5>
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<form id="cardForm">
				<div class="modal-body">
					<div class="container-fluid">

						<p><small>Credit and debit cards are supported.</small></p>

						<div class='card-element mb-2 form-control'></div>
						<div class='card-errors text-danger' role="alert"></div>
						
						<div class="mt-4 d-flex justify-content-between align-items-end">
							<small>Card stored securely with <a href='https://stripe.com'>Stripe</a></small>

							<button type="submit" class="btn btn-primary">
								<span style='display:none' class="spinner-border spinner-border-sm"></span>
								<span>Add</span>
							</button>
						</div>
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>



<% if (options.upgradable) { %>
<!-- Upgrade Modal -->
<div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div style="max-width: <%= upgradablePlans.length * 400 %>px;" class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-header">
				
				<h5 class="modal-title">Upgrade your account</h5>
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			
			<form id='upgradeForm'>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="card-deck flex-column flex-md-row mb-3">

							<% for (let plan of upgradablePlans) { %>
								<div data-plan='<%= plan.id %>' class="card card-pricing text-center px-3 mb-4"> <!-- add 'popular shadow' classes to select -->
									<span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm"><%= plan.name %></span>
									<div class="bg-transparent card-header pt-4 border-0">
										<h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="<%= plan.price %>">$<span class="price"><%= plan.price %></span><span class="h6 text-muted ml-2">/ per month</span></h1>

										<% if (plan.trial ) { // && !subscriptions.length %>
											<br>
											<p class="text-success"><%= plan.trial %> days free trial</p>
										<% } %>
										
									</div>
									<div class="card-body pt-0">
										<ul class="list-unstyled mb-4">
											<% for (let gig of (plan.advantages || plan.perks).filter(p => !p.minor)) { %>
												<li><%= gig.title %></li>
											<% } %>
										</ul>

										<% if (upgradablePlans.length > 1) { %>
											<button onclick='choosePlan("<%= plan.id %>")' type="button" class="btn btn-outline-primary mb-3">Choose</button>
										<% } %>

									</div>

								</div>
							<% } %>

						</div>

						<input type="hidden" name="upgradePlan" value="free">
						
						<div class="row">
							<div class='col-md-8' id='cardStuff'>
								<% if (subscriptions.length) { %>
									
									<p><small>Your existing subscription will be adjusted to the new amount.</small></p>

								<% } %>

								<% if (!sources.length) { %>
									<div class='card-element form-control'></div>
									<div class='card-errors error text-danger' role="alert"></div>
									<br>
									<small>Card stored securely with Stripe.</small>
								<% } %>
							</div>

							<div class="col">
								<button type="submit" class="float-right btn btn-primary">
									<span style='display:none' class="spinner-border spinner-border-sm" role="status"></span>
									<span>Continue</span>
								</button>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<% } %>

<script>

	// For the upgrade modal 
	function choosePlan(plan) {
		$('[data-plan]').removeClass(['shadow', 'popular'])
		$('[data-plan="'+plan+'"]').addClass(['shadow', 'popular'])

		$('[data-plan] button').removeClass(['btn-primary', 'btn-outline-primary'])

		$('[data-plan]:not([data-plan="'+plan+'"]) button').addClass('btn-outline-primary')
		$('[data-plan="'+plan+'"] button').addClass('btn-primary')

		$('[name="upgradePlan"]').val(plan)

		if (plan === 'free') $('#cardStuff').hide()
		else $('#cardStuff').show()
	}

	

	function initStripe() {

		let stripe = Stripe("<%= options.publicKey %>")

		// Create an instance of the card Element.
		let options = { style: {
			base: {
				fontSmoothing: 'antialiased',
				fontSize: '16px',
				lineHeight: '1.5'
			},
			invalid: {
				color: '#fa755a',
				iconColor: '#fa755a'
			}
		}}

		<% if (options.upgradable && !sources.length) { %>

			let elements1 = stripe.elements()
			let card1 = elements1.create('card', options)
			card1.mount('#upgradeForm .card-element')
			card1.addEventListener('change', (event) => {
				 $('#upgradeForm .card-errors').text(event.error ? event.error.message : '')
			})

		<% } %>

		<% if (options.upgradable && upgradablePlans.length) { %>
			choosePlan('<%= upgradablePlans[0].id %>')

			function submitUpgrade(plan, token) {

				$.post('/billing/upgrade', {
					token: token,
					upgradePlan: plan
				}, function(data) {

					if (data.actionRequired) {
						
						stripe[data.actionRequired](data.secret).then(function(result) {

							if (result.error) {
								$('#upgradeForm button .spinner-border').hide()
								$('#upgradeForm .card-errors').text(result.error.message)

								return 
							}
						})

					} else {

						$('#upgradeModal').modal('hide')

						alert("Account successfully upgraded")

						// Reload without parameters
						window.location = window.location.pathname
					}

					
				
				}).fail(e => {
					$('#upgradeForm button .spinner-border').hide()
					$('#upgradeForm .card-errors').text(e.message)
					console.error(e)
				})
			}

			$('#upgradeForm').submit((event) => {
				event.preventDefault()
				$('#upgradeForm button .spinner-border').show()

				let plan = $('[name="upgradePlan"]').val()

				<% if (!sources.length) { %>
				
					stripe.createToken(card1).then((result) => {

						if (result.error) {
							$('#upgradeForm button .spinner-border').hide()
							$('#upgradeForm .card-errors').text(result.error.message)

							return 
						}

						let token = result.token

						submitUpgrade(plan, token)
					})
				<% } else  { %>
					submitUpgrade(plan)
				<% } %>
			})

		<% } %>

		/*** Second element for the adding card flow **/
		
		let elements2 = stripe.elements()
		let card2 = elements2.create('card', options)
		card2.mount('#cardForm .card-element')
		card2.addEventListener('change', (event) => {
			$('#cardForm .card-errors').text(event.error ? event.error.message : '')
		})


		$('#cardForm').submit(function(event) {
			event.preventDefault()
			
			$('#cardForm button .spinner-border').show()

			$.get('/billing/setupintent', data => {

				console.log(data)

				stripe.handleCardSetup(data.clientSecret, card2).then((result) => {

					console.log(result)

					if (result.error) {
						$('#cardForm button .spinner-border').hide()
						$('#cardForm .card-errors').text(result.error.message)
						return 
					}

					let paymentMethodId = result.setupIntent.payment_method
				
					$.post('/billing/card', {
						paymentMethodId: paymentMethodId
					}, (data) => {

						$( document ).trigger( "billing:cardadded" )

						// https://stackoverflow.com/questions/11519660/twitter-bootstrap-modal-backdrop-doesnt-disappear
						$('#cardModal').modal('hide').on('hidden.bs.modal', function() {
							billing.reload("#billingSection")
						})

					}).fail(e => {
						$('#cardForm button .spinner-border').hide()
						$('#cardForm .card-errors').text("We couldn't add your card. Please try again or with another card.")
						console.error(e)
					})

				}).fail(e => {
					$('#cardForm button .spinner-border').hide()
					$('#cardForm .card-errors').text("We couldn't contact our servers. Please try again later.")
					console.error(e)
				})
			})
		})

	}

</script>