<head>
	<title>Choose a <%= options.siteName %> Plan</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Choose a plan for <%= options.siteName %> and upgrade your account.">
	<link rel="icon" type="image/png" href="/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<!--<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"  media="none" onload="if(media!='all')media='all'">-->
	<style>
	:root {
		--input-padding-x: 1rem;
		--input-padding-y: .75rem;
	}
	body {
		height: 100%;
	}

	.card-pricing.popular {
		z-index: 1;
		border: 3px solid #007bff;
	}

	.card-pricing .list-unstyled li {
		padding: .4rem 0;
		color: #6c757d;
	}
</style>
</head>
<body>
	<div class="container pt-4 text-center">
		<% if (options.logoUrl) { %><img src='<%= options.logoUrl %>' width='60'/> <% } %>

		<h2 class="py-4">Select a plan</h2>
		
		<div id='errorAlert' style='display: none' class="alert alert-danger" role="alert"></div>

		<div class="card-deck flex-sm-row mb-3">
			<% for (let plan of upgradablePlans) { %>
				<div data-trial='<%= plan.trial || 0 %>' data-plan='<%= plan.id %>' class="card card-pricing text-center px-3 mb-4"> <!-- add 'popular shadow' classes to select -->
					<span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm"><%= plan.name %></span>
					
					<div class="bg-transparent py-4 border-0">
						<h1 class="h2 font-weight-normal text-primary text-center mb-0" data-pricing-value="<%= plan.price %>">$<span class="price"><%= plan.price %></span><span class="h6 text-muted ml-2">/ per month</span></h1>

						<% if (plan.trial && !subscriptions.length) { %>
							<p class="text-success"><%= plan.trial %> days free trial</p>
						<% } %>

					</div>
					
					<div class="card-body py-0 px-3">
						<ul class="list-unstyled mb-3">
							<% for (let gig of (plan.advantages || plan.perks).filter(g => !g.minor)) { %>
								<li><%= gig.title %></li>
							<% } %>
						</ul>

						<% if (upgradablePlans.length > 1) { %>
							<button onclick='choosePlan("<%= plan.id %>")' type="button" class="btn btn-outline-primary mb-3">Choose</button>
						<% } %>
						
					</div>
				</div>
			<% } %>
		</div>

		<input type="hidden" name="plan" value="free">

		<p id='trialWarning'><small>Billing will start at the end of the trial period if you haven't canceled.</small></p>

		<div class="row w-75 m-auto">
			<div class='col-sm-8 mb-3' id='cardStuff'>

				<% if (subscriptions.length) { %>
				
					<p><small>Your existing subscription will be adjusted to the new amount.</small></p>

				<% } %>

				<% if (!sources.length) { %>
					<div id='card-element' class='form-control'></div>
					
				
				<% } %>

			</div>

			<div class="col-sm-4">
				<button id='confirm' type="submit" class="mb-3 w-100 btn btn-primary">
					<span style='display:none' class="spinner-border spinner-border-sm" role="status"></span>
					<span>Continue →</span>
				</button>
			</div>

		</div>
		<small><div id='card-errors' class='text-danger' role="alert"></div></small>
		<br>

		<div class="row" style='display: none' id='couponInput'>
			<div  class="mb-3 col-sm-4">
				<input name='coupon' class='form-control form-control-sm' type="text" placeholder="Enter your coupon">
			</div>
			<div class="mb-3 col-sm" id='couponDescription'></div>
		</div>
		
		<p><small>
			<% if (!sources.length) { %> Card secured by Stripe. <% } %>

			<a href='javascript:' onclick='$("#couponInput").show();$(this).remove()'>Have a coupon?</a>
		</small></p>
	</div>

	<%- options.choosePlanFooter || '' %>

	<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script>

		const stripe = Stripe("<%= options.publicKey %>")

		// Create an instance of the card Element.
		let options = { style: {
			base: {
      			lineHeight: '1.5',
				fontSmoothing: 'antialiased',
				fontSize: '16px'
			},
			invalid: {
				color: '#fa755a',
				iconColor: '#fa755a'
			}
		}}

		<% if (!sources || !sources.length) { %>

			let elements1 = stripe.elements()
			let card1 = elements1.create('card', options)
			card1.mount('#card-element')
			card1.addEventListener('change', (event) => {
				$('#card-errors').text(event.error ? event.error.message : '')
			})

		<% } %>
		
		function submitUpgrade(token) {
			let plan = $('[name="plan"]').val()
			let coupon = $('[name="coupon"]').val()
			let userPlan = '<%= user.plan %>'

			if (plan === userPlan) return location.href = '<%= redirect %>'

			$.post('/billing/upgrade', {
				stripeToken: token,
				coupon: coupon,
				upgradePlan: plan
			}, function(data) {

				// Reload without parameters
				location.href = '<%= redirect %>'
			
			}).fail(e => {
				$('#confirm .spinner-border').hide()

				$('#errorAlert').show()
				$('#errorAlert').text(e.statusText)
				console.error(e)
			})

		}

		function choosePlan(plan) {
			$('[data-plan]').removeClass(['shadow', 'popular'])
			$('[data-plan="'+plan+'"]').addClass(['shadow', 'popular'])

			$('[data-plan] button').removeClass(['btn-primary', 'btn-outline-primary'])

			$('[data-plan]:not([data-plan="'+plan+'"]) button').addClass('btn-outline-primary')
			$('[data-plan="'+plan+'"] button').addClass('btn-primary')

			$('[name="plan"]').val(plan)

			if (plan === 'free') $('#cardStuff').hide()
			else $('#cardStuff').show()

			let trial = parseInt($('[data-plan="'+plan+'"]').attr('data-trial'))
			if (trial) $('#trialWarning').show()
			else $('#trialWarning').hide()

		}

		$('#confirm').click(() => {
			
			$('#confirm .spinner-border').show()

			<% if (!sources.length) { %>

				let plan = $('[name="plan"]').val()

				if (plan === 'free') return submitUpgrade(null)
					
				stripe.createToken(card1).then((result) => {

					if (result.error) {
						$('#confirm .spinner-border').hide()
					} 

					$('#card-errors').text(result.error ? result.error.message : '')

					let token = result.token.id
					submitUpgrade(token)
				})

			<% } else  { %>
				submitUpgrade(null)
			<% } %>
		})

		choosePlan('<%= upgradablePlans[0].id %>')


		//setup before functions
		var typingTimer;                //timer identifier
		var doneTypingInterval = 1000  //time in ms (5 seconds)

		//on keyup, start the countdown
		$('[name="coupon"]').keyup(function(){
			clearTimeout(typingTimer);
			if ($('[name="coupon"]').val()) {
				typingTimer = setTimeout(doneTyping, doneTypingInterval);
			}
		})

		//user is "finished typing," do something
		function doneTyping () {
			let code = $('[name="coupon"]').val()
			$.get('/billing/testcoupon?code='+code, function(data) {
				if (data.valid) {
					$('#couponDescription').html("<span class='text-success'>Applied: "+data.description+"</span>")
				} else {
					$('#couponDescription').html("<span class='text-danger'>Invalid coupon.</span>")
				}
			})
		}

	</script>

</body>