<head>
	<title>Select a <%= options.siteName %> plan</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Select a plan for <%= options.siteName %> and upgrade your account.">
	<link rel="icon" type="image/png" href="/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<style>
		html,
		body {
			min-height: 100%;
		}

		.container {
			text-align: center;
			padding: 4rem 0;
			width: 1200px;
			max-width: 90%;
		}

		.subtitle {
			font-size: 1.3rem;
			max-width: 900px;
			margin: auto;
		}

	</style>
	
	<%- options.pages.customHeadHtml || '' %>

</head>
<body>
	<div class="container">
		<% if (options.logoUrl) { %>
			<img src='<%= options.logoUrl %>' width='60'/>
		<% } %>

		<h2 class="title"><%= title %></h2>

		<% if (locals.subtitle) { %>
			<p class="subtitle"><%- subtitle %></p>
		<% } %>
		<br>

		<% include upgradeForm.ejs %>
	</div>

	<%- options.pages.customFooterHtml || '' %>

	<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script>

		const stripe = Stripe("<%= options.publicKey %>")

		// Create an instance of the card Element.
		let options = { style: {
			base: {
				lineHeight: '1.5',
				fontSmoothing: 'antialiased',
				fontSize: '18px',
				background: "#46D787"
			},
			invalid: {
				color: '#fa755a',
				iconColor: '#fa755a'
			}
		}}

		<% include upgrade.js.ejs %>

	</script>

</body>