<head>
	<title>Choose a <%= options.siteName %> Plan</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Choose a plan for <%= options.siteName %> and upgrade your account.">
	<link rel="icon" type="image/png" href="/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<!--<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"  media="none" onload="if(media!='all')media='all'">-->
	<style>
		:root {
			--input-padding-x: 1rem;
			--input-padding-y: .75rem;
		}
		body {
			height: 100%;
		}

		.card-pricing.popular {
			z-index: 1;
			border: 3px solid #007bff;
		}

		.card-pricing .list-unstyled li {
			padding: .4rem 0;
			color: #6c757d;
		}
	</style>
</head>
<body>
	<div class="container py-4 text-center">
		<% if (options.logoUrl) { %>
			<img src='<%= options.logoUrl %>' width='60'/>
		<% } %>

		<h2 class="py-4">Select a plan</h2>
		
		<div id='errorAlert' style='display: none' class="alert alert-danger" role="alert"></div>

		<% include upgradeForm.ejs %>
	</div>

	<%- options.choosePlanFooter || '' %>

	<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script>

		const stripe = Stripe("<%= options.publicKey %>")

		// Create an instance of the card Element.
		let options = { style: {
			base: {
				lineHeight: '1.5',
				fontSmoothing: 'antialiased',
				fontSize: '16px'
			},
			invalid: {
				color: '#fa755a',
				iconColor: '#fa755a'
			}
		}}

		<% include upgrade.js.ejs %>

	</script>

</body>