<style>
	#upgradeForm .cardContainer {
		margin: 0 auto 2rem auto;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	#upgradeForm .plan {
		width: 300px;
		max-width: 90%;
		display: flex;
		flex-direction: column;
		margin: 1rem;
		padding: 1rem 2rem;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: .25rem;
		box-sizing: border-box;
	}

	#upgradeForm .plan.active {
		z-index: 1;
		border: 3px solid #007bff;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
	}

	#upgradeForm .alert {
		margin: 1rem 0;
	}

	#upgradeForm .btn {
		transition: all 0.2s;
		margin: 1rem 0 0 0;
	}

	#upgradeForm .btn:hover {
		opacity: 0.7;
	}

	#upgradeForm .card-element {
		max-width: 600px;
		margin: 2rem auto;
	}

	#upgradeForm .planTitle {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	#upgradeForm .planHeader {
		margin-bottom: 1rem;
	}

	#upgradeForm .planBody {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#upgradeForm .perks {
		list-style: none;
		padding: .4rem 0;
		color: #6c757d;
	}

	#upgradeForm .perks li {
		padding: .4rem 0;
		font-size: 1.1rem;
	}

	#upgradeForm .price {
		color: #007bff;
		font-size: 2rem;
		margin-top: 1rem;
	}

	#upgradeForm .price span {
		margin-left: 5px;
		color: #6c757d;
		font-size: 1rem;
	}

	#upgradeForm {
		text-align: center;
		padding: 1rem 0;
	}

	#upgradeSuccess {
		display: none;
	}
</style>

<form id='upgradeForm'>

	<div id='errorAlert' style='display: none' class="alert alert-danger" role="alert"></div>
	
	<div id='upgradeSuccess' class="alert alert-success" role="alert">
		Your account was successfully updated
	</div>
	
	<div class="cardContainer flex-column align-items-md-stretch align-items-center flex-md-row">

		<% for (let plan of upgradablePlans) { %>
			<div data-trial='<%= plan.trial || 0 %>' data-name='<%= plan.name %>' data-plan='<%= plan.id %>' class="plan">
				<!-- <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">
					<%= plan.name %>

					<% if (plan.id === user.plan) { %>(current)<% } %>
				</span> -->

				<div class="planHeader">
					<h3 class="planTitle"><%= plan.name %></h3>

					<h1 class="price" data-pricing-value="<%= plan.price %>">
						$<%= plan.price %>
						<span>/ per month</span>
					</h1>
				</div>

				<div class="planBody">
					<ul class="perks">
						<% for (let gig of (plan.advantages || plan.perks || plan.features).filter(p => !p.minor)) { %>
							<li><%= gig.title %></li>
						<% } %>
					</ul>


					<div class="pt-3">
						<% if (plan.id === user.plan) { %>
							<p><small class="my-3 text-success">This is your current plan.</small></p>
						<% } %> 

						<% if (upgradablePlans.filter(p => p.id !== plan.id).length) { %>
							<button type="button" class="btn btn-outline-primary mb-3">Select</button>
						<% } %>
					</div>
				</div>

			</div>
		<% } %>

	</div>

	<input type="hidden" name="upgradePlan" value="free">

	<p><span id='couponDescription'></span></p>
	<input type='hidden' name='coupon' id='coupon' />

	<div class='cardStuff'>

		<% if (subscriptions.length) { %>
			
			<p><small>Your existing subscription will be adjusted to the new amount.</small></p>
		
		<% } else { %>

			<p>Select a plan <span class='trialWarning'>• <span class="trialDuration">30</span> day risk free trial</span> • Cancel any time</p>
		
			<p><small class='trialWarning'>Billing will start at the end of the trial period if you haven't canceled.</small></p>
		
		<% } %>

		<% if (!paymentMethods.length) { %>
			<div class='card-element form-control'></div>
		<% } else { %>
			<div class='mt-3 card-errors error text-danger' role="alert"></div>
		<% } %>

	</div>

	<button type="submit" class="btn btn-primary">
		<span style='display:none' class="spinner-border spinner-border-sm" role="status"></span>
		<span>Continue <span id='planName'></span> →</span>
	</button>

	<% if (!paymentMethods.length) { %>
		<p class="cardStuff mt-4"><small>Card stored securely with <a target='_blank' href='https://stripe.com'>Stripe</a></small></p>
	<% } %>

</form>